body {
	background-size: contain;
	background-color: black;
}

#turbokiller {
	overflow: hidden !important;
	height: 800px !important;
	font-size: 22px !important;
}

.terminal .terminal-output div div, .cmd .prompt, .cmd {
	line-height: 22px !important;
	font-size: 24px !important;
}

.ui-button {
	display: none;
}

.ui-dialog {
	top: 0 !important;
	left: 8px !important;
}

.no-dialog-padding {
	width: 1200px !important;
}

/* HEADER */

.header {
	color: #cc0000;
	text-shadow: 0 0 5px #ff6666, 0 0 8px #ff6666, 0 0 12px #ff6666, 0 0 16px #FF1177, 0 0 24px #FF1177, 0 0 30px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177;
	/* animation
	-webkit-animation: header 3.25s ease-in-out infinite alternate;
	-moz-animation: header 3.25s ease-in-out infinite alternate;
	animation: header 3.25s ease-in-out infinite alternate;
	*/
}

/*animation keyframes

@-webkit-keyframes header{
  from {
    text-shadow: 0 0 10px #ff6666, 0 0 20px #ff6666, 0 0 30px #ff6666, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #ff6666, 0 0 10px #ff6666, 0 0 15px #ff6666, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@-moz-keyframes header{
  from {
    text-shadow: 0 0 10px #ff6666, 0 0 20px #ff6666, 0 0 30px #ff6666, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #ff6666, 0 0 10px #ff6666, 0 0 15px #ff6666, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@-keyframes header{
  from {
    text-shadow: 0 0 10px #ff6666, 0 0 20px #ff6666, 0 0 30px #ff6666, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #ff6666, 0 0 10px #ff6666, 0 0 15px #ff6666, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
*/

/*END HEADER */

.test {
	text-decoration: underline;
}